* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #0e6655;
  flex-direction: column;
  margin-top: 2em;
  font-size: 3.4em;
  text-align: center;
  color: white;
}

button {
  font-size: 2em;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
}

input {
  width: 16em;
  font-size: 0.6em;
  text-align: left;
  padding: 0.2em;
  margin-bottom: 0.6em;
}

.pokedex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #73c6b6;
  width: 6em;
  height: auto;
  align-items: center;
  margin: auto;
  border-radius: 20px;
}

#stat-container {
  display: flex;
  font-size: 0.4em;
  text-align: left;
}

span {
  padding-left: 0.6em;
  font-weight: 600;
  color: black;
}


.pokedex-container h2 {
  font-size: 0.6em;
  background-color: #5d6d7e;
  width: 10em;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#imageEl {
  width: 4.6em;
}

#suggestions{
  overflow: scroll;
  max-height: 8em;
  overflow-x: hidden;
  
}

#suggestions::-webkit-scrollbar{
display: none;
}


.suggestion-area {
  border: 1px solid white;
  cursor: pointer;
  font-size: 0.9em;
  text-align: center;
  width: 10.6em;
  margin: auto;
  background: #5499c7;
  text-align: left;
  padding-left: 3em;
}

#poke-type {
  font-size: 0.5em;
  border: 1px solid;
  padding: 0.2em;
  width: auto;
  border-radius: 20px;
  margin-top: 0.4em;
}
